body{
    background: rgb(234,51,32);
    background: -moz-linear-gradient(45deg, rgba(234,51,32,1) 0%, rgba(192,106,115,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(234,51,32,1) 0%, rgba(192,106,115,1) 100%);
    background: linear-gradient(45deg, rgba(234,51,32,1) 0%, rgba(192,106,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea3320",endColorstr="#c06a73",GradientType=1);
    z-index: -1;
}

.video-background{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.15);
    z-index: 0;
}

.front-component{
    position: relative;
    z-index: 1;
}

.title{
    color: rgb(234, 51, 35);
}

.title:hover{
    color: rgb(234, 51, 35);
}

.form{
    position: relative;
}

.form .fa-lg.fa-search{
    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;
}

.form .fa-search.sm-search{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #9ca3af;
}

.form-sm-input{
    text-indent: 23px;
    border-radius: 10px;
}

.form-lg-input{
    height: 55px;
    text-indent: 33px;
}

.rounded-edge{
    border-radius: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.video-wrapper{
    height: 100%;
    height: 400px;
}

.caption-line{
    text-decoration: none;
    color: white;
}

.caption-line:hover{
    font-weight: bold;
    color: black;
}

.fitting-width{
    width:fit-content;
}